#basic dependency
alembic>=1.13.1
FastAPI[all]
sqlalchemy>=2.0.25
python-dotenv>=1.0.0
pydantic>=2.6.1
pydantic-settings>=2.0.0
asyncpg>=0.29.0
python-multipart>=0.0.9
aiofiles>=23.2.1
uvicorn>=0.27.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0
aiobotocore>=2.5.0

#tests dependency
pytest>=7.0.0
httpx>=0.23.0
pytest-asyncio>=0.21.0
multiprocess
pytest-dotenv
